{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <div class="wrapper">
        <header class="header">
            <div class="header-in">
                <p class="header-logo"><a href="{% url 'report:index' %}"><span class="s-f-Montserrat">日報管理</span></a>
                </p>
            </div>
        </header>

        <div class="contents-login">
                <div class="box-cmn-01">
                        <p class="title">{% trans "Login" %}</p>
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <table class="table-translation-spec">
                                {% for field in form %}
                                    <tr><td>
                                    {{ field }}
                                    {{ field.errors }}
                                    </td></tr>
                                {% endfor %}
                            </table>

                            <button type="submit" class="btn-cmn-03">{% trans "Login" %}</button>
                            <input type="hidden" name="next" value="{{ next }}"/>

                        </form>
                </div>
        </div>
    </div>

{% endblock %}